@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background: radial-gradient(circle, #111 0%, #222 50%, #000 100%);
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenitore principale con effetto specchio */
.mirror-glass {
    width: 80%;
    max-width: 600px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    border: 20px solid rgba(111, 91, 49, 1);
    justify-content: center;
    align-items: center;
}

/* Titolo con effetto riflesso */
h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}

/* Testo secondario con effetto luminoso */
p {
    font-size: 1.2em;
    opacity: 0.8;
}

/* Sezione caratteristiche */
.features {
    margin-top: 20px
}

.features ul {
    list-style: none;
    padding: 0;
}

.features li {
    font-size: 1.2em;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Footer */
footer {
    margin-top: 20px;
    font-size: 0.9em;
    opacity: 0.7;
}

.carousel {
      position: relative;
      width: 100%;
      height: 55px;
      overflow: hidden;
      text-align: center;
      background: none;
      
    }

    .carousel-inner {
      display: flex;
      flex-direction: column;
      transition: transform 0.5s ease-in-out;
    }

    .carousel-item {
      flex: 0 0 100%;
      font-size: 1.5em;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
      padding: 13.2px;
    }
